body {
  background: red !important;
}

 *{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background: #080b14;
}

#root {
  width: 100%;
  min-height: 100vh;
}

button,
input,
textarea {
  font-family: inherit;
}